{% extends "main.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-auto d-none d-md-block"></div>

    <h2 class="text-uppercase text-center text-white mb-0">Verified Seism</h2>
    <hr class="bg-white mb-5"/>

    <div class="col-md-auto">
      <table class="table table-bordered table-responsive">
        <tbody>
          <tr>
            <td>Date Time</td>
            <td>{{verified_seism.datetime}}</td>
          </tr>
          <tr>
              <td>Depth</td>
              <td>{{verified_seism.depth}}</td>
          </tr>
          <tr>
              <td>Magnitude</td>
              <td>{{verified_seism.magnitude}}</td>
          </tr>
          <tr>
              <td>Latitude</td>
              <td>{{verified_seism.latitude}}</td>
          </tr>
          <tr>
              <td>Longitude</td>
              <td>{{verified_seism.longitude}}</td>
          </tr>
          <tr>
              <td>Sensor</td>
              <td>{{verified_seism.sensorId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-auto d-none d-md-block thead-dark"></div>
  </div>
{% endblock %}
